@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

page-heading {
  /* display: "flex";
  justify-content: center;     */
}
full-page {
  padding: 3px;
  background-color: blue; 
}
h2 {
  font-size: 28px;
  font-family: Inter;
  font-weight: 500;
  margin: 0 auto;
  background-color: aqua;
  width: 160px;
  text-align: right; 
}